.App {
  text-align: center;
  
}

.App-b{
  border: 1px solid black;

  
}
.App-a {
  margin: 12%;
  border: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d6e4ff;
  border: 3px solid black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-button {
  width: 20;
  background-color: #caf4ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul > li { list-style: none; }